$font-icons-family-name: "IconsFont";
@font-face {
	font-family: "IconsFont";
	src: url('../fonts/IconsFont.eot');
	src: url('../fonts/IconsFont.eot?#iefix') format('eot'),
		url('../fonts/IconsFont.woff2') format('woff2'),
		url('../fonts/IconsFont.woff') format('woff'),
		url('../fonts/IconsFont.ttf') format('truetype'),
		url('../fonts/IconsFont.svg#IconsFont') format('svg');
}

@mixin icon-styles {
	font-family: "IconsFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

$icon-name-arrow-down: "\E001"; 
$icon-name-arrow-up: "\E002"; 
$icon-name-awesome-quote-left: "\E003"; 
$icon-name-calculator: "\E004"; 
$icon-name-checkmark-circle: "\E005"; 
$icon-name-percent: "\E006"; 


@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-down {
		$char: "\E001";
	}
	@if $filename == arrow-up {
		$char: "\E002";
	}
	@if $filename == awesome-quote-left {
		$char: "\E003";
	}
	@if $filename == calculator {
		$char: "\E004";
	}
	@if $filename == checkmark-circle {
		$char: "\E005";
	}
	@if $filename == percent {
		$char: "\E006";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-down {
	@include icon(arrow-down);
}
.icon-arrow-up {
	@include icon(arrow-up);
}
.icon-awesome-quote-left {
	@include icon(awesome-quote-left);
}
.icon-calculator {
	@include icon(calculator);
}
.icon-checkmark-circle {
	@include icon(checkmark-circle);
}
.icon-percent {
	@include icon(percent);
}
