$font-icons-family-name: "IconsFont";
@font-face {
	font-family: "IconsFont";
	src: url('../fonts/IconsFont.eot');
	src: url('../fonts/IconsFont.eot?#iefix') format('eot'),
		url('../fonts/IconsFont.woff2') format('woff2'),
		url('../fonts/IconsFont.woff') format('woff'),
		url('../fonts/IconsFont.ttf') format('truetype'),
		url('../fonts/IconsFont.svg#IconsFont') format('svg');
}

@mixin icon-styles {
	font-family: "IconsFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

$icon-name-accordion-arrow-down: "\E001"; 
$icon-name-arrow-down: "\E002"; 
$icon-name-arrow-up: "\E003"; 
$icon-name-awesome-quote-left: "\E004"; 
$icon-name-bag: "\E005"; 
$icon-name-calculator: "\E006"; 
$icon-name-checkmark-circle: "\E007"; 
$icon-name-circle: "\E008"; 
$icon-name-coin: "\E009"; 
$icon-name-desktop: "\E00A"; 
$icon-name-health-check: "\E00B"; 
$icon-name-info: "\E00C"; 
$icon-name-information-mark: "\E00D"; 
$icon-name-information: "\E00E"; 
$icon-name-money: "\E00F"; 
$icon-name-notes: "\E010"; 
$icon-name-percent: "\E011"; 
$icon-name-safety: "\E012"; 
$icon-name-search: "\E013"; 
$icon-name-shield: "\E014"; 
$icon-name-shopping-bag: "\E015"; 


@function icon-char($filename) {
	$char: "";

	@if $filename == accordion-arrow-down {
		$char: "\E001";
	}
	@if $filename == arrow-down {
		$char: "\E002";
	}
	@if $filename == arrow-up {
		$char: "\E003";
	}
	@if $filename == awesome-quote-left {
		$char: "\E004";
	}
	@if $filename == bag {
		$char: "\E005";
	}
	@if $filename == calculator {
		$char: "\E006";
	}
	@if $filename == checkmark-circle {
		$char: "\E007";
	}
	@if $filename == circle {
		$char: "\E008";
	}
	@if $filename == coin {
		$char: "\E009";
	}
	@if $filename == desktop {
		$char: "\E00A";
	}
	@if $filename == health-check {
		$char: "\E00B";
	}
	@if $filename == info {
		$char: "\E00C";
	}
	@if $filename == information-mark {
		$char: "\E00D";
	}
	@if $filename == information {
		$char: "\E00E";
	}
	@if $filename == money {
		$char: "\E00F";
	}
	@if $filename == notes {
		$char: "\E010";
	}
	@if $filename == percent {
		$char: "\E011";
	}
	@if $filename == safety {
		$char: "\E012";
	}
	@if $filename == search {
		$char: "\E013";
	}
	@if $filename == shield {
		$char: "\E014";
	}
	@if $filename == shopping-bag {
		$char: "\E015";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-accordion-arrow-down {
	@include icon(accordion-arrow-down);
}
.icon-arrow-down {
	@include icon(arrow-down);
}
.icon-arrow-up {
	@include icon(arrow-up);
}
.icon-awesome-quote-left {
	@include icon(awesome-quote-left);
}
.icon-bag {
	@include icon(bag);
}
.icon-calculator {
	@include icon(calculator);
}
.icon-checkmark-circle {
	@include icon(checkmark-circle);
}
.icon-circle {
	@include icon(circle);
}
.icon-coin {
	@include icon(coin);
}
.icon-desktop {
	@include icon(desktop);
}
.icon-health-check {
	@include icon(health-check);
}
.icon-info {
	@include icon(info);
}
.icon-information-mark {
	@include icon(information-mark);
}
.icon-information {
	@include icon(information);
}
.icon-money {
	@include icon(money);
}
.icon-notes {
	@include icon(notes);
}
.icon-percent {
	@include icon(percent);
}
.icon-safety {
	@include icon(safety);
}
.icon-search {
	@include icon(search);
}
.icon-shield {
	@include icon(shield);
}
.icon-shopping-bag {
	@include icon(shopping-bag);
}
