a {
    text-decoration: none;
}

p {
    font-size: 1.563rem;
    color: $black-45;
}

div {
    color: $black-45;
}

@include media-breakpoint-down(md) {
    h1 {
        font-size: 3.063rem!important;
    }
    h2 {
        font-weight: bold;
        font-size: 2.25rem!important;
    }
    p {
        font-size: .75rem!important;
    }
}

@include media-breakpoint-between(md, xxl) {
    h1 {
        font-size: 8rem!important;
    }
    h2 {
        font-size: 2.5rem!important;
    }
}
