.cursor-pointer {
    cursor: pointer;
}

.text-secondary {
    color: $black-89!important;
}

.text-muted {
    color: $gray-208!important;
}

.text-gray {
    color: $gray-112;
}

.text-warning {
    color: $orange!important;
}

.bg-primary {
    background-color: $light-blue!important;
}

.bg-muted {
    background-color: $gray-246!important;
}

.lh-xl {
    line-height: $line-height-xl;
}

.shadow-sm {
    box-shadow: $box-shadow-xs!important;
}

.shadow-md {
    box-shadow: $box-shadow-xl!important;
}

.fw-medium {
    font-weight: $fw-medium;
}

.border-bottom {
    border-bottom: 1px solid #B6B6B6!important;
}

@include media-breakpoint-down(xl) {
    .w-100-mobile {
        width: 100%;
    }
}

@include media-breakpoint-down(md) {
    .fs-2 {
        font-size: 3.063rem!important;
    }
    .fs-3 {
        font-size: 1.468rem!important;
    }
    .fs-5 {
        font-size: 1rem!important;
    }
    .fs-6 {
        font-size: 1.25rem!important;
    }
    .fs-9 {
        font-size: 1.25rem!important;
    }
    .fs-10 {
        font-size: .75rem!important;
    }
    .fs-11 {
        font-size: .563rem!important;
    }
    .fs-14 {
        font-size: .75rem!important;
    }
    .ps-13 {
        padding-left: 0!important;
    }
    .py-28 {
        padding-top: 5rem!important;
        padding-bottom: 5rem!important;
    }
    .pt-19 {
        padding-top: 3.75rem!important;
    }
    .pt-22 {
        padding-top: 3.75rem!important;
    }
    .pt-23 {
        padding-top: 3.75rem!important;
    }
    .pt-25 {
        padding-top: 3.75rem!important;
    }
    .pt-30 {
        padding-top: 10rem!important;
    }
    .pt-31 {
        padding-top: 7.5rem!important;
    }
    .pb-6 {
        padding-bottom: 2.5rem!important;
    }
    .pb-7 {
        padding-bottom: 1.563rem!important;
    }
    .pb-17 {
        padding-bottom: 3rem!important;
    }
    .pb-18 {
        padding-bottom: 4.375rem!important;
    }
    .pb-20 {
        padding-bottom: 3.5rem!important;
    }
    .pb-21 {
        padding-bottom: 3.563rem!important;
    }
    .pb-25 {
        padding-bottom: 2.5rem!important;
    }
    .pb-26 {
        padding-bottom: 2.5rem!important;
    }
    .pb-27 {
        padding-bottom: 10rem!important;
    }
    .pb-31 {
        padding-bottom: 3.75rem!important;
    }
    .mb-6 {
        margin-bottom: 1.75rem!important;
    }
    .mb-8 {
        margin-bottom: 1rem!important;
    }
    .mb-11 {
        margin-bottom: 1.25rem!important;
    }
    .mb-12 {
        margin-bottom: 1.875rem!important;
    }
    .mb-14 {
        margin-bottom: 1rem!important;
    }
    .mb-15 {
        margin-bottom: 1.875rem!important;
    }
    .mb-16 {
        margin-bottom: 2.5rem!important;
    }
    .mb-17 {
        margin-bottom: 2.5rem!important;
    }
    .mb-19 {
        margin-bottom: 1.125rem!important;
    }
    .mb-21 {
        margin-bottom: 1.5rem!important;
    }
    .mb-26 {
        margin-bottom: 0!important;
    }
    .mb-32 {
        margin-bottom: 2.5rem!important;
    }
}

@include media-breakpoint-between(md, xxl) {
    .fs-3 {
        font-size: 2.5rem!important;
    }
}
