.shop {
    @include media-breakpoint-down(lg) {
        &.filter-panel-opened {
            overflow: hidden; // block background scroll
            .hide-when-mobile-menu-opened {
                visibility: hidden;
            }
        }
    }
    .hero {
        .subtitle {
            font-size: 3.125rem;
        }
        @include media-breakpoint-between(md, xxl) {
            .subtitle {
                font-size: 1.875rem;
            }
            h2 {
                font-size: 3.125rem!important;
            }
            .btn-sm {
                font-size: 1.25rem!important;
            }
        }
        @include media-breakpoint-down(md) {
            .subtitle {
                font-size: 1.063rem!important;
            }
            h2 {
                font-size: 1.5rem!important;
            }
            .btn-sm {
                font-size: .75rem!important;
                padding: .5rem 1rem!important;
            }
        }
    }
    .nav-pills {
        .nav-link {
            font-weight: bold;
            font-size: 1.5rem;
            color: $white;
            text-align: start;
            padding: .5rem 0;
            @include media-breakpoint-down(md) {
                font-size: 1rem;
            }
            &:hover,
            &.active {
                font-weight: bold;
                color: $white;
                background-color: transparent;
            }
            &.sub-link {
                font-weight: $fw-medium;
                padding-left: 40px;
            }
        }
    }
    .products-filter-panel {
        .filter-bg {
            background-color: $blue;
            border-radius: $border-radius-sm;
            box-shadow: $box-shadow-lg;
        }
        .products-filter-content {
            display: none;
            @include media-breakpoint-up(lg) {
                display: block
            }
        }
        .products-filter-mobile-toggler {
            display: none;
            .products-filter-icon {
                width: 3rem;
                height: 3rem;
                position: relative;
                .icon {
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 1.5rem;
                    margin-right: -50%;
                    transform: translate(-50%, -50%)
                }
            }
            @include media-breakpoint-down(lg) {
                display: inline-block
            }
        }
        @include media-breakpoint-down(lg) {
            &.show {
                &::before {
                    position: fixed;
                    content: '';
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, .16);
                    z-index: $zindex-fixed + 1;
                }
                .products-filter-content {
                    display: block; // make it visible
                    position: fixed;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 95%;
                    z-index: $zindex-fixed + 2;
                    border-radius: 0;
                }
                .scrollable {
                    overflow-y: auto;
                    max-height: calc(100vh - 4.5rem);
                }
            }
        }
    }
    // @mixin make-shop-content-container( $max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
    //     margin-left: 30%;
    //     @each $breakpoint,
    //     $container-max-width in $max-widths {
    //         @include media-breakpoint-up($breakpoint, $breakpoints) {
    //             max-width: calc( 40% - (40% - #{$container-max-width}) / 2);
    //         }
    //     }
    //     width: 70%;
    // }
    // .shop-content-container {
    //     @include make-container();
    //     @include make-shop-content-container();
    // }
}
