@import 'theme/theme';
.hero {
    background-color: $light-blue;
    padding: 16.438rem 0 22rem 0;
}

.parent {
    position: relative;
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
    div {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        color: #fff;
        background: rgba(112, 112, 112, 0.8);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 2.813rem;
    }
}

.employees {
    @include media-breakpoint-down(md) {
        h2 {
            font-size: 2rem!important;
        }
    }
}

.state-funding {
    .state-icon {
        position: absolute;
        right: 0;
        top: 2.813rem;
        width: 100%;
        @include media-breakpoint-down(md) {
            width: 50%;
        }
    }
    @include media-breakpoint-down(md) {
        h2 {
            font-size: 2.375rem!important;
        }
    }
}

.benefits-workers {
    .bg-decor {
        position: absolute;
        right: 0;
        z-index: 0;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    @include media-breakpoint-down(md) {
        h2 {
            font-size: 2.875rem!important;
        }
    }
}

.own-shop {
    position: relative;
    .bg-decor {
        position: absolute;
        bottom: -8.75rem;
        right: 0;
        z-index: 0;
    }
}

.staff {
    position: relative;
    .bg-decor {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }
}

.savings-calculator {
    position: relative;
    .bg-decor {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    @include media-breakpoint-down(md) {
        h2 {
            font-size: 1.75rem!important;
        }
    }
}

.contacts {
    @include media-breakpoint-down(md) {
        .fs-9 {
            font-size: 1.125rem!important;
        }
    }
}

.faq {
    position: relative;
    &::before {
        display: block;
        content: "";
        background-image: url(../img/faq-bg.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.footer {
    background-color: $black-78;
    padding: 3.25rem 0 2.25rem 0;
    @include media-breakpoint-down(md) {
        padding: 1.25rem 0 .625rem 0;
    }
    .mail-link {
        font-size: 2.5rem;
        @include media-breakpoint-down(md) {
            font-size: .875rem;
        }
    }
    .copyright-text {
        font-size: 1.25rem;
        @include media-breakpoint-down(md) {
            font-size: .625rem;
        }
    }
}
