@import 'theme/theme';
.hero {
    background-color: $light-blue;
    padding: 16.438rem 0 22rem 0;
    @include media-breakpoint-down(md) {
        padding: 21.875rem 0 22.5rem 0;
    }
}

.parent {
    position: relative;
    width: 100%;
    img {
        display: block;
        width: 100%;
        @include media-breakpoint-down(md) {
            height: 214px;
            object-fit: cover;
            object-position: top;
        }
    }
    div {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        color: #fff;
        background: rgba(112, 112, 112, 0.8);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 2.813rem;
        @include media-breakpoint-down(md) {
            font-size: 2rem;
            height: 214px;
        }
    }
}

.state-funding {
    .description {
        font-size: 1.563rem;
        @include media-breakpoint-down(md) {
            font-size: .75rem;
        }
    }
    .state-icon {
        position: absolute;
        right: 0;
        top: 2.813rem;
        width: 100%;
        @include media-breakpoint-down(md) {
            width: 50%;
        }
    }
    .bg-decor {
        position: absolute;
        top: 300px;
        right: 0;
        z-index: 0;
        width: 874px;
        height: 684px;
        @include media-breakpoint-down(md) {
            width: 50%;
        }
    }
    .list-items {
        padding-left: 4rem;
        @include media-breakpoint-down(md) {
            padding-left: 0;
        }
    }
}

.calculator {
    .bg-decor {
        position: absolute;
        top: 250px;
        right: 250px;
        z-index: 0;
        width: 450px;
        height: 630px;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    .btn-sm {
        @include media-breakpoint-down(md) {
            font-size: .75rem;
            padding: .375rem 1.875rem;
        }
    }
}

.process {
    .bg-decor {
        position: absolute;
        bottom: 50px;
        right: 80px;
        z-index: 0;
        width: 530px;
        height: 415px;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    .description {
        font-size: 1.563rem;
        @include media-breakpoint-down(md) {
            font-size: .75rem;
        }
    }
}

// TODO: transform to rem
.benefits-workers {
    .bg-decor {
        position: absolute;
        z-index: 0;
        opacity: .2;
        &.phone-right {
            width: 100px;
            height: 200px;
            right: 250px;
            bottom: 700px;
        }
        &.bike-right {
            width: 400px;
            height: 200px;
            right: 200px;
            bottom: 150px;
        }
        &.phone-left {
            width: 100px;
            height: 200px;
            left: 250px;
            top: 100px;
        }
        &.bike-left {
            width: 400px;
            height: 200px;
            left: 200px;
            top: 450px;
        }
        @include media-breakpoint-down(xxl) {
            display: none;
        }
    }
}

.own-shop {
    position: relative;
    .bg-decor {
        position: absolute;
        bottom: -8.75rem;
        right: 0;
        z-index: 0;
        @include media-breakpoint-down(md) {
            bottom: 85px;
            object-fit: cover;
            height: 100%;
            width: 100%;
            object-position: right;
            left: 0;
        }
    }
}

.staff {
    position: relative;
    .bg-decor {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }
}

.savings-calculator {
    position: relative;
    .bg-decor {
        position: absolute;
        bottom: 100px;
        right: 300px;
        z-index: -1;
        opacity: .1;
        width: 450px;
        height: 305px;
        @include media-breakpoint-down(xxl) {
            display: none;
        }
    }
}

.faq {
    position: relative;
    &::before {
        display: block;
        content: "";
        background-image: url(../img/faq-bg.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.feedback-notes-slider {
    .slide-item {
        padding: 1rem;
    }
    .tns-item:not(.tns-slide-active)+.tns-slide-active+.tns-slide-active {
        padding: 0;
    }
}

.footer {
    background-color: $black-78;
    padding: 3.25rem 0 2.25rem 0;
    @include media-breakpoint-down(md) {
        padding: 1.25rem 0 .625rem 0;
    }
    .mail-link {
        font-size: 2.5rem;
        @include media-breakpoint-down(md) {
            font-size: .875rem;
        }
    }
    .copyright-text {
        font-size: 1.25rem;
        @include media-breakpoint-down(md) {
            font-size: .625rem;
        }
    }
}
