@import 'theme/theme';
@import 'modules/shop_page';
@import 'modules/general_custom_styles';

.hero {
    background-color: $light-blue;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        margin: 0;
    }
}

.parent {
    position: relative;
    width: 100%;
    img {
        display: block;
        width: 100%;
        @include media-breakpoint-down(md) {
            height: 214px;
            object-fit: cover;
            object-position: top;
        }
    }
    div {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        color: #fff;
        background: rgba(112, 112, 112, 0.8);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 2.813rem;
        @include media-breakpoint-down(md) {
            font-size: 2rem;
            height: 214px;
        }
    }
}

.state-funding {
    .description {
        font-size: 1.563rem;
        @include media-breakpoint-down(md) {
            font-size: .75rem;
        }
    }
    .state-icon {
        position: absolute;
        right: 0;
        top: 2.813rem;
        width: 90%;
        @include media-breakpoint-down(md) {
            width: 50%;
        }
    }
    .bg-decor {
        position: absolute;
        top: 300px;
        right: 80px;
        z-index: 0;
        width: 700px;
        height: 684px;
        @include media-breakpoint-down(md) {
            width: 50%;
        }
    }
    .list-items {
        padding-left: 4rem;
        @include media-breakpoint-down(md) {
            padding-left: 0;
        }
    }
    .mb-7 {
        @include media-breakpoint-down(md) {
            margin-bottom: 3.125rem!important;
        }
    }
}

.calculator {
    .bg-decor {
        position: absolute;
        top: 250px;
        right: 250px;
        z-index: 0;
        width: 450px;
        height: 630px;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    .btn-sm {
        @include media-breakpoint-down(md) {
            font-size: .75rem;
            padding: .375rem 1.875rem;
        }
    }
}

.process {
    .bg-decor {
        position: absolute;
        bottom: 50px;
        right: 80px;
        z-index: 0;
        width: 530px;
        height: 415px;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    .description {
        font-size: 1.563rem;
        @include media-breakpoint-down(md) {
            font-size: .75rem;
        }
    }
    .process-icon {
        width: 100px;
        height: 100px;
        color: $black-45;
        @include media-breakpoint-down(md) {
            width: 60px;
            height: 60px;
        }
    }
}

.products {
    .btn-primary {
        &.btn-sm {
            @include media-breakpoint-down(md) {
                font-size: .75rem;
                line-height: .938rem;
                padding: .5rem .625rem;
                min-width: 8.75rem;
            }
        }
    }
    .list-items {
        li {
            @include media-breakpoint-down(md) {
                font-size: .75rem;
            }
        }
    }
    .pt-20 {
        @include media-breakpoint-down(md) {
            padding-top: 2.188rem!important;
        }
    }
    .form-control {
        @include media-breakpoint-down(md) {
            width: 25%;
        }
    }
    .product-title {
        font-size: 2.75rem;
        color: $black-89;
        @include media-breakpoint-between(md, xxl) {
            font-size: 2.25rem!important;
        }
        @include media-breakpoint-down(md) {
            font-size: 1.063rem!important;
        }
    }
    .product-details {
        font-size: 2.5rem;
        @include media-breakpoint-between(md, xxl) {
            font-size: 1.5rem !important;
        }
        @include media-breakpoint-down(md) {
            font-size: 1.063rem!important;
        }
    }
    .product-price {
        font-size: 1.563rem;
        @include media-breakpoint-between(md, xxl) {
            font-size: 1.25rem!important;
        }
        @include media-breakpoint-down(md) {
            font-size: .75rem!important;
        }
    }
}

.benefits-workers {
    .bg-decor {
        position: absolute;
        z-index: 0;
        opacity: .2;
        &.phone-right {
            width: 6.25rem;
            height: 12.5rem;
            right: 15.625rem;
            bottom: 43.75rem;
        }
        &.bike-right {
            width: 25rem;
            height: 12.5rem;
            right: 12.5rem;
            bottom: 9.375rem;
        }
        &.phone-left {
            width: 6.25rem;
            height: 12.5rem;
            left: 12.625rem;
            top: 6.25rem;
        }
        &.bike-left {
            width: 25rem;
            height: 12.5rem;
            left: 7.5rem;
            top: 28.125rem;
        }
        @include media-breakpoint-down(xxl) {
            display: none;
        }
    }
}

.own-shop {
    position: relative;
    .bg-decor {
        position: absolute;
        bottom: -8.75rem;
        right: 0;
        z-index: 0;
        @include media-breakpoint-down(md) {
            bottom: 5.313rem;
            object-fit: cover;
            height: 100%;
            width: 100%;
            object-position: right;
            left: 0;
        }
    }
}

.staff {
    position: relative;
    .bg-decor {
        position: absolute;
        bottom: -82px;
        max-height: 100vh;
        max-width: 100vw;
        right: 0;
        z-index: 0;
        object-fit: contain;
        object-position: bottom;

        @include media-breakpoint-down(lg) {
            bottom: 0;
        }
    }
}

.savings-calculator {
    position: relative;
    .bg-decor {
        position: absolute;
        bottom: 6.25rem;
        right: 18.75rem;
        z-index: -1;
        opacity: .1;
        width: 28.125rem;
        height: 19.063rem;
        @include media-breakpoint-down(xxl) {
            display: none;
        }
    }
}

.faq {
    position: relative;
    &::before {
        display: block;
        content: "";
        background-image: url(../img/faq-bg.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.feedback-notes-slider {
    &.tns-slider {
        display: flex;
        align-items: stretch;
    }
    .slide-item {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        opacity: 0.7;
        transition: padding 0.2s;
        &>div {
            height: 100%;
        }
    }
    .tns-slide-active.center {
        padding: 0.5rem 0;
        opacity: 1;
        transition: padding 0.2s;
    }
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-bottom: 6.75rem;
    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    @include media-breakpoint-down(md) {
        margin-bottom: 3.75rem;
    }
}

.footer {
    background-color: $black-78;
    padding: 3.25rem 0 2.25rem 0;
    @include media-breakpoint-down(md) {
        padding: 1.25rem 0 .625rem 0;
    }
    .mail-link {
        font-size: 1.5rem;
        @include media-breakpoint-down(md) {
            font-size: .875rem;
        }
    }
    .copyright-text {
        font-size: 1rem;
        @include media-breakpoint-down(md) {
            font-size: .625rem;
        }
    }
}
