.accordion {
    .accordion-button {
        font-weight: bold;
        border: none!important;
        box-shadow: $box-shadow-md;
        &::after {
            display: none;
            @include media-breakpoint-down(md) {
                display: block;
            }
        }
        @include media-breakpoint-down(md) {
            font-size: .75rem;
            padding: .75rem .563rem;
        }
    }
    .accordion-header {
        border: none!important;
        box-shadow: $box-shadow-md;
    }
    .accordion-body {
        box-shadow: $box-shadow-md;
        border: none!important;
        background-color: $white;
        @include media-breakpoint-down(md) {
            font-size: .75rem;
            padding: .688rem .563rem;
        }
    }
    .btn-link {
        font-size: 1.25rem!important;
        @include media-breakpoint-down(md) {
            font-size: .75rem!important;
        }
    }
    &.accordion-flush {
        .accordion-item {
            .accordion-header {
                box-shadow: none;
            }
            border: none;
            .accordion-button {
                font-weight: normal;
                font-size: 1.563rem;
                color: $black-45;
                border-bottom: 1px solid #B6B6B6!important;
                background-color: transparent;
                padding: 2.5rem 0 .625rem 0;
                box-shadow: none;
                display: flex;
                justify-content: space-between;
                &::after {
                    display: inline-block;
                    @include icon-styles;
                    content: icon-char(accordion-arrow-down);
                    font-size: .25rem;
                    color: $black-45;
                }
                @include media-breakpoint-down(md) {
                    font-size: .75rem;
                    padding: .5rem 0 .25rem 0;
                }
            }
            .accordion-button:not(.collapsed) {
                &::after {
                    display: inline-block;
                }
            }
            .accordion-body {
                box-shadow: none;
                padding: .625rem 0;
            }
        }
    }
}
