.accordion-button {
    font-weight: bold;
    border: none!important;
    box-shadow: $box-shadow-md;
    &::after {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
    @include media-breakpoint-down(md) {
        font-size: .75rem;
        padding: .75rem .563rem;
    }
}

.accordion-header {
    border: none!important;
    box-shadow: $box-shadow-md;
}

.accordion-body {
    box-shadow: $box-shadow-md;
    border: none!important;
    background-color: $white;
    @include media-breakpoint-down(md) {
        font-size: .75rem;
        padding: .688rem .563rem;
    }
}
