.btn-link {
    font-weight: bold;
    font-size: 1.563rem;
    text-decoration: none;
    @include media-breakpoint-down(md) {
        font-size: .75rem;
        line-height: .938rem;
        padding: 0;
    }
}

.btn-primary {
    --bs-btn-color: #{$white};
    &.btn-sm {
        font-weight: bold;
        font-size: 1.625rem;
        line-height: 2rem;
        padding: 1.275rem 3rem;
        @include media-breakpoint-down(md) {
            font-size: 1.063rem;
            line-height: 1.25rem;
            padding: 1rem 2.875rem;
        }
    }
    &.btn-xs {
        font-weight: 500;
        font-size: .875rem;
        line-height: 1.125rem;
        padding: .5rem 1.75rem;
        @include media-breakpoint-down(md) {
            font-size: .625rem;
            line-height: .813rem;
            padding: .75rem .75rem;
        }
    }
    &:hover,
    &:focus {
        --bs-btn-hover-color: #{$white};
    }
}
