.btn-link {
    font-weight: bold;
    font-size: 1.563rem;
    text-decoration: none;
}

.btn-primary {
    &.middle {
        font-weight: bold;
        font-size: 1.688rem;
        line-height: 2.063rem;
        padding: 1.688rem 6.625rem;
    }
    &.small {
        font-weight: 500;
        font-size: .875rem;
        line-height: 1.125rem;
        padding: .5rem 1.75rem;
    }
}
