.card {
    box-shadow: $box-shadow-sm;
    .card-body {
        .card-title {
            color: $black-89;
            font-size: 3.75rem;
            margin-bottom: 0;
        }
        .card-text {
            color: $black-45;
            font-size: 1.563rem;
            margin-bottom: 0;
        }
    }
    .card-footer {
        background-color: transparent;
        border-top: none;
        padding-top: 0;
        padding-bottom: 4.063rem;
    }
    &.workers {
        .card-header {
            padding: 1.438rem 1.563rem;
            background-color: $blue;
        }
        .card-body {
            padding: 5.313rem 4.188rem 4.688rem 4.188rem;
        }
    }
}
