.card {
    box-shadow: $box-shadow-sm;
    border: 0;
    .fs-11 {
        @include media-breakpoint-down(md) {
            font-size: .75rem!important;
        }
    }
    .card-body {
        .card-title {
            color: $black-89;
            font-size: 3.75rem;
            margin-bottom: 0;
            @include media-breakpoint-down(md) {
                font-size: 2rem;
            }
        }
        .card-subtitle {
            color: $black-45;
            font-size: 1.563rem;
            margin-bottom: 0;
            @include media-breakpoint-down(md) {
                font-size: .875rem;
            }
        }
        .card-text {
            color: $black-45;
            font-size: 1.563rem;
            margin-bottom: 0;
            @include media-breakpoint-down(md) {
                font-size: .75rem;
            }
        }
        @include media-breakpoint-down(md) {
            padding-top: 1.75rem;
            padding-bottom: 1.25rem;
        }
    }
    .card-footer {
        background-color: transparent;
        border-top: none;
        padding-top: 0;
        padding-bottom: 4.063rem;
        @include media-breakpoint-down(md) {
            padding-bottom: 1.875rem;
        }
    }
    &.workers {
        .card-header {
            padding: 1.438rem 1.563rem;
            background-color: $blue;
            @include media-breakpoint-down(md) {
                padding: .625rem .688rem;
                font-size: .75rem;
            }
        }
        .card-body {
            padding: 5.313rem 4.188rem 4.688rem 4.188rem;
            @include media-breakpoint-down(md) {
                padding: 1.5rem 1.875rem 2.5rem 1.875rem;
            }
        }
    }
    &.salary-conversion {
        .pb-20 {
            padding-bottom: .75rem!important;
        }
        .card-header {
            padding: 1.438rem 1.563rem;
            background-color: $blue;
            @include media-breakpoint-down(md) {
                padding: .625rem .688rem;
                font-size: .75rem;
            }
        }
        .card-body {
            padding: 5.313rem 4.188rem 4.688rem 4.188rem;
            @include media-breakpoint-down(md) {
                padding: .5rem 0 2.5rem 0;
            }
            div {
                font-size: 1.563rem;
                @include media-breakpoint-down(md) {
                    font-size: .75rem;
                }
            }
        }
    }
}
