.form-control {
    border: none;
    border-bottom: .063rem solid $black-74;
    background-color: transparent;
    padding: 0;
    &:focus {
        box-shadow: none;
    }
    @include media-breakpoint-down(md) {
        font-size: 1rem;
    }
}

textarea {
    resize: none;
    &::placeholder {
        font-size: 1.25rem;
        @include media-breakpoint-down(md) {
            font-size: .75rem;
        }
    }
    &.form-control {
        border: .063rem solid $black-45;
    }
}

label {
    font-size: 1.25rem;
    color: $black-45;
    padding-top: .25rem;
    @include media-breakpoint-down(md) {
        font-size: .75rem;
    }
}

.form-check-label {
    font-size: 1.125rem;
    @include media-breakpoint-down(md) {
        font-size: .625rem;
    }
}

.products {
    .form-check-label {
        font-size: 1.563rem;
        @include media-breakpoint-down(md) {
            font-size: .75rem;
        }
    }
}

.input-group {
    border: .125rem solid $white;
    .form-control {
        border-bottom: none;
        color: $white;
        padding: 0;
        &::placeholder {
            font-weight: $fw-medium;
            font-size: 1.875rem;
            color: $white;
        }
    }
}
