ul {
    list-style-type: none;
    padding-left: 0;
    li {
        a {
            color: $black;
            font-size: .938rem;
        }
    }
}

.list-items {
    padding-left: 10.5rem;
    li {
        font-weight: normal;
        font-size: 1.563rem;
        color: $black-45;
        list-style-type: none;
        margin-bottom: 1.125rem;
        display: flex;
        align-items: center;
        &::before {
            display: inline;
            @include icon-styles;
            content: icon-char(checkmark-circle);
            font-size: 2.5rem;
            color: $blue;
            margin-left: -3.75rem;
            padding-right: 1.25rem;
        }
    }
    &.without-icons {
        li {
            &::before {
                display: none;
            }
        }
    }
    &.with-circle {
        padding-left: 0;
        li {
            margin-bottom: .25rem;
            &::before {
                display: inline;
                @include icon-styles;
                content: icon-char(circle);
                font-size: .875rem;
                color: $blue;
                margin-left: 0;
                padding-right: 1.25rem;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .list-items {
        padding-left: 0;
        margin-bottom: 2.5rem;
        li {
            font-size: .875rem;
            margin-bottom: 1.25rem;
            &::before {
                font-size: 1.563rem;
                margin-left: 0;
                padding-right: 1.188rem;
            }
        }
    }
}
