$scrolled-navbar-height: 3.25rem;
$scrolled-navbar-sm-height: 2.625rem;
.navbar {
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .16);
    background-color: $gray;
    &>.nav-wrapper {
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;
    }
    @include media-breakpoint-down(xl) {
        width: 100%;
    }
    &.top-navbar {
        @include media-breakpoint-down(xl) {
            max-height: 100vh;
            overflow-y: auto;
        }
    }
    .navbar-nav>li {
        margin-left: 1rem;
        margin-right: 1rem;
        @include media-breakpoint-up(xxl) {
            margin-left: 2.188rem;
            margin-right: 2.188rem;
        }
        &>.nav-link {
            padding: 0;
            color: rgb(85, 85, 85);
            font-weight: normal;
            @include media-breakpoint-down(xl) {
                border-radius: .188rem;
            }
            &:hover,
            &.show {
                color: black;
                background-color: transparent;
                .label {
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        height: .125rem;
                        width: 100%;
                        background-color: white;
                        position: absolute;
                        bottom: -.313rem;
                        left: 0;
                        @include media-breakpoint-down(xl) {
                            display: none;
                        }
                    }
                }
            }
            @include media-breakpoint-down(xl) {
                padding: .625rem 0;
            }
            @include media-breakpoint-up(xl) {
                &:hover {
                    background-color: transparent;
                }
            }
            &.smaller {
                font-weight: 400;
                font-size: .75rem;
                opacity: .7;
            }
        }
    }
    .navbar-toggler {
        &:focus {
            box-shadow: none;
        }
        .toggler-expanded {
            display: block;
        }
        .toggler-collapsed {
            display: none;
        }
        &.collapsed {
            .toggler-expanded {
                display: none;
            }
            .toggler-collapsed {
                display: block;
            }
        }
    }
    .navbar-toggler {
        z-index: 1000;
    }
    .navbar-brand {
        padding-bottom: 0;
    }
    .navbar-brand,
    .navbar-toggler {
        .when-scrolled {
            display: none;
        }
        .when-not-scrolled {
            display: block;
        }
    }
    .navbar-collapse {
        justify-content: space-between;
        &.disable-animation.collapsing {
            -webkit-transition: none;
            transition: none;
            display: none;
        }
        @include media-breakpoint-down(xl) {
            background-color: $gray;
            &.show,
            &.collapsing {
                opacity: 1;
                background-color: $gray;
                display: flex;
                .navbar-nav>li {
                    .nav-link {
                        color: white;
                    }
                    &.menu-divider {
                        border-left: none !important;
                        border-top: .063rem dashed rgba(255, 255, 255, 0.2);
                        margin-left: 10vw;
                        margin-right: 10vw;
                        margin-top: 1.875rem;
                        margin-bottom: .75rem;
                        height: .063rem;
                        width: 100%;
                    }
                }
            }
            opacity: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            flex-direction: column;
            align-content: center;
            text-align: center !important;
            &.collapse {
                opacity: 0;
                pointer-events: none;
            }
            &.collapsing[style*="height"] {
                opacity: 1;
                min-height: 100vh !important;
            }
            &.collapsing {
                opacity: 0;
                min-height: 100vh;
            }
            &.collapse.show {
                opacity: 1;
                pointer-events: auto;
                min-height: calc(100vh - 60px);
            }
            .navbar-nav {
                margin-right: initial !important;
                @include media-breakpoint-down(xl) {
                    width: 100%;
                }
            }
        }
    }
    .full-screen-dropdown {
        .dropdown-toggle {
            &::after {
                border: 0;
                display: inline;
                @include icon-styles;
                content: icon-char(arrow-down);
                font-size: .438rem;
                color: black;
            }
            &.show {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                &::after {
                    display: inline-block;
                    transform: rotate(180deg);
                }
            }
        }
        .dropdown-menu {
            top: 0px;
            padding: 0;
            .all-link {
                &:hover {
                    color: black;
                }
                span {
                    &:hover {
                        border-bottom: .063rem solid black;
                    }
                }
            }
            &.menu-large {
                min-width: 55rem;
                @include media-breakpoint-down(xl) {
                    min-width: 100%;
                }
            }
            &.menu-middle {
                min-width: 37rem;
                @include media-breakpoint-down(xl) {
                    min-width: 100%;
                }
            }
            &.menu-small {
                min-width: 17rem;
                @include media-breakpoint-down(xl) {
                    min-width: 100%;
                }
            }
            @include media-breakpoint-up(xl) {
                display: block;
            }
            visibility: hidden;
            &.show {
                visibility: visible;
                top: 3.75rem;
                border: .063rem solid black;
                z-index: 1;
                border-bottom-left-radius: .188rem;
                border-bottom-right-radius: .188rem;
                @include media-breakpoint-down(xl) {
                    top: 0!important;
                    background-color: black!important;
                }
                @include media-breakpoint-down(xl) {
                    border: none;
                    border-top: .063rem solid black;
                }
            }
            left: 0px;
            right: 0px;
            z-index: -1;
            border: 0;
            border-radius: 0;
            @include media-breakpoint-down(xl) {
                position: relative;
                top: 0;
                padding-top: 0;
                background-color: transparent;
            }
            ul {
                li {
                    margin-bottom: 0;
                    .dropdown-item {
                        &:hover {
                            background-color: transparent;
                        }
                        span {
                            &:hover {
                                border-bottom: .063rem solid black;
                            }
                        }
                    }
                }
            }
            .dropdown-link {
                color: black;
                text-decoration: none;
                span {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .icon {
            width: 7.5rem;
            height: 7.5rem;
            padding: 1.25rem;
            svg {
                fill: #666;
            }
        }
        .list-items {
            margin-bottom: 0;
            padding: 0;
            list-style: none;
            li {
                padding: .313rem 0;
                &:hover {
                    background-color: #f2c811;
                    color: #000;
                    border-radius: .188rem;
                    box-shadow: 0 .25rem 1.25rem 0 rgb(0 0 0 / 14%), 0 .438rem .625rem -.313rem rgb(242 200 17 / 40%);
                }
                a {
                    font-size: .938rem;
                    color: #001935;
                }
            }
        }
        .list-inline-items {
            padding-left: 0;
            li {
                display: inline-block;
                a {
                    font-size: .75rem;
                    color: black;
                    padding: 0 .938rem;
                }
            }
        }
    }
    .navbar-nav {
        @include media-breakpoint-down(xl) {
            padding-top: .625rem;
        }
    }
    &.scrolled {
        background-color: $gray!important;
        box-shadow: 0 .25rem 1.125rem 0 rgb(0 0 0 / 12%), 0 .438rem .625rem -.313rem rgb(0 0 0 / 15%);
        padding: .25rem 0;
        transition: all 0.5s;
        .navbar-nav>li {
            &>.nav-link {
                color: white;
            }
            &.menu-divider {
                border-left: .063rem dashed rgba(255, 255, 255, .2);
            }
        }
        .navbar-brand {
            img {
                max-width: 8.938rem;
                display: none;
            }
            .when-scrolled {
                display: block;
            }
            .when-not-scrolled {
                display: none;
            }
        }
        .navbar-toggler {
            .when-scrolled {
                display: block;
            }
            .when-not-scrolled {
                display: none;
            }
        }
        .full-screen-dropdown {
            .dropdown-menu {
                &.show {
                    top: 3.125rem;
                }
                @include media-breakpoint-down(lg) {
                    top: 0;
                }
            }
        }
    }
}

@include media-breakpoint-down(xl) {
    .navbar-collapse {
        margin-bottom: 4.063rem; //resize 
    }
    .navbar .navbar-collapse.collapsing .navbar-nav>li .nav-link,
    .navbar .navbar-collapse.show .navbar-nav>li .nav-link {
        background-color: $gray;
    }
    html.nav-opened {
        overflow: hidden;
        .navbar {
            .navbar-collapse {
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }
            .navbar-toggler {
                .when-scrolled {
                    display: block;
                }
                .when-not-scrolled {
                    display: none;
                }
            }
            .navbar-brand {
                .when-scrolled {
                    display: block;
                }
                .when-not-scrolled {
                    display: none;
                }
                img {
                    max-width: 8.938rem;
                }
            }
        }
    }
}

.navbar-light .navbar-nav .nav-link {
    font-weight: normal;
    font-size: .875rem;
    color: $black-45!important;
}

.nav-pills {
    .nav-link {
        font-size: .938rem;
        color: black;
        text-align: start;
        padding: .625rem 1rem;
        &:hover,
        &.active {
            font-weight: 600;
            color: black;
            background-color: transparent;
            .label {
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    height: .125rem;
                    width: 100%;
                    background-color: white;
                    transition: 0.5s;
                    position: absolute;
                    bottom: -.313rem;
                    left: 0;
                }
            }
        }
    }
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

.menu-opened {
    .get-it-now-banner {
        display: none !important;
    }
}
