$scrolled-navbar-height: 3.25rem;
$scrolled-navbar-sm-height: 2.625rem;

.navbar {
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .16);
    background-color: $gray;
    &>.nav-wrapper {
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;
    }
    @include media-breakpoint-down(xl) {
        width: 100%;
    }
    &.top-navbar {
        @include media-breakpoint-down(xl) {
            max-height: 100vh;
            overflow-y: auto;
        }
    }
    .navbar-nav>li {
        margin-left: 1rem;
        margin-right: 1rem;
        @include media-breakpoint-up(xxl) {
            margin-left: 2.188rem;
            margin-right: 2.188rem;
        }
        &>.nav-link {
            padding: 0;
            color: rgb(85, 85, 85);
            font-weight: normal;
            @include media-breakpoint-down(xl) {
                border-radius: .188rem;
            }
            &:hover,
            &.show {
                color: black;
                background-color: transparent;
                .label {
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        height: .125rem;
                        width: 100%;
                        background-color: $blue;
                        position: absolute;
                        bottom: -.313rem;
                        left: 0;
                        @include media-breakpoint-down(xl) {
                            display: none;
                        }
                    }
                }
            }
            @include media-breakpoint-down(xl) {
                padding: .625rem 0;
            }
            @include media-breakpoint-up(xl) {
                &:hover {
                    background-color: transparent;
                }
            }
            &.smaller {
                font-weight: 400;
                font-size: .75rem;
                opacity: .7;
            }
        }
    }
    .navbar-toggler {
        &:focus {
            box-shadow: none;
        }
        .toggler-expanded {
            display: block;
        }
        .toggler-collapsed {
            display: none;
        }
        &.collapsed {
            .toggler-expanded {
                display: none;
            }
            .toggler-collapsed {
                display: block;
            }
        }
    }
    .navbar-toggler {
        z-index: 1000;
    }
    .navbar-brand {
        padding-bottom: 0;
    }
    .navbar-brand,
    .navbar-toggler {
        .when-scrolled {
            display: none;
        }
        .when-not-scrolled {
            display: block;
        }
    }
    .navbar-collapse {
        justify-content: space-between;
        &.disable-animation.collapsing {
            -webkit-transition: none;
            transition: none;
            display: none;
        }
        @include media-breakpoint-down(xl) {
            background-color: $gray;
            &.show,
            &.collapsing {
                opacity: 1;
                background-color: $gray;
                display: block;
                .navbar-nav>li {
                    .nav-link {
                        color: white;
                    }
                }
            }
            opacity: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            flex-direction: column;
            align-content: center;
            text-align: center !important;
            &.collapse {
                opacity: 0;
                pointer-events: none;
            }
            &.collapsing[style*="height"] {
                opacity: 1;
                min-height: 100vh !important;
            }
            &.collapsing {
                opacity: 0;
                min-height: 100vh;
            }
            &.collapse.show {
                opacity: 1;
                pointer-events: auto;
                min-height: calc(100vh - 8.625rem);
            }
            .navbar-nav {
                margin-right: initial !important;
                @include media-breakpoint-down(xl) {
                    width: 100%;
                }
            }
        }
    }
    .navbar-nav {
        @include media-breakpoint-down(xl) {
            padding-top: .625rem;
        }
    }
    &.scrolled {
        background-color: $gray!important;
        box-shadow: 0 .25rem 1.125rem 0 rgb(0 0 0 / 12%), 0 .438rem .625rem -.313rem rgb(0 0 0 / 15%);
        padding: .25rem 0;
        transition: all 0.5s;
        .navbar-nav>li {
            &>.nav-link {
                color: white;
            }
        }
        .navbar-brand {
            img {
                max-width: 8.938rem;
                display: none;
            }
            .when-scrolled {
                display: block;
            }
            .when-not-scrolled {
                display: none;
            }
        }
        .navbar-toggler {
            .when-scrolled {
                display: block;
            }
            .when-not-scrolled {
                display: none;
            }
        }
    }
}

@include media-breakpoint-down(xl) {
    .navbar-collapse {
        margin-bottom: 4.063rem; //resize 
    }
    .navbar .navbar-collapse.collapsing .navbar-nav>li .nav-link,
    .navbar .navbar-collapse.show .navbar-nav>li .nav-link {
        background-color: $gray;
    }
    html.nav-opened {
        overflow: hidden;
        .navbar {
            .navbar-collapse {
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }
            .navbar-toggler {
                .when-scrolled {
                    display: block;
                }
                .when-not-scrolled {
                    display: none;
                }
            }
            .navbar-brand {
                .when-scrolled {
                    display: block;
                }
                .when-not-scrolled {
                    display: none;
                }
                img {
                    max-width: 8.938rem;
                }
            }
        }
    }
}

.navbar-light .navbar-nav .nav-link {
    font-weight: normal;
    font-size: .875rem;
    color: $black-45!important;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

@include media-breakpoint-down(xl) {
    .nav-menu-opened {
        overflow: hidden; // block background scroll

        .hide-when-mobile-menu-opened {
            visibility: hidden;
        }
    }
}

.make-child-div-fixed-bellow-navbar {
    &.fixed {
        --fixed-elem-position: #{$scrolled-navbar-sm-height};
        &>div {
            position: fixed;
            top: var(--fixed-elem-position);
        }
    }
}